
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Color de fondo del cuerpo */
}
th, td{
    text-align: center;
}
nav.navbar {
    background-color: #343a40; /* Color de fondo de la barra de navegación */
}

a.navbar-brand {
    color: #ffffff; /* Color del texto del logo */
}

a.navbar-brand:hover {
    color: #ffffff; /* Color del texto del logo al pasar el ratón */
}

.navbar-toggler-icon {
    background-color: #ffffff; /* Color del icono del botón de navegación en dispositivos móviles */
}

.navbar-nav {
    margin-right: 20px;
}

.navbar-nav .btn {
    color: #ffffff; /* Color del texto de los botones en la barra de navegación */
    margin: 0 10px;
}

.navbar-nav .btn:hover {
    color: #f8f9fa; /* Color del texto de los botones al pasar el ratón */
}

#logoutButton,
#loginButton {
    display: none;
}

#languageSelect {
    color: #ffffff; /* Color del texto del selector de idioma */
    background-color: #343a40; /* Color de fondo del selector de idioma */
    border: none;
    outline: none;
    margin-right: 10px;
    position: relative;
}

#languageSelect:hover .dropdown-menu {
    display: block;
}